#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1130px 1134px #20c5e3, 265px 661px #20c5e3, 720px 1602px #20c5e3,
    620px 183px #20c5e3, 661px 11px #20c5e3, 421px 62px #20c5e3,
    493px 1915px #20c5e3, 425px 1252px #20c5e3, 145px 1578px #20c5e3,
    1142px 1246px #20c5e3, 57px 1327px #20c5e3, 553px 1472px #20c5e3,
    587px 257px #20c5e3, 711px 1105px #20c5e3, 891px 616px #20c5e3,
    998px 1895px #20c5e3, 1079px 931px #20c5e3, 1644px 1304px #20c5e3,
    1083px 1846px #20c5e3, 1715px 577px #20c5e3, 1308px 1744px #20c5e3,
    1305px 1952px #20c5e3, 483px 1927px #20c5e3, 1429px 431px #20c5e3,
    1316px 838px #20c5e3, 27px 197px #20c5e3, 942px 1477px #20c5e3,
    214px 560px #20c5e3, 1736px 1762px #20c5e3, 1358px 93px #20c5e3,
    68px 1841px #20c5e3, 1789px 1135px #20c5e3, 1495px 1955px #20c5e3,
    1478px 1893px #20c5e3, 231px 1567px #20c5e3, 447px 1459px #20c5e3,
    380px 97px #20c5e3, 351px 1175px #20c5e3, 1300px 1932px #20c5e3,
    459px 1214px #20c5e3, 1739px 1009px #20c5e3, 559px 1206px #20c5e3,
    1374px 752px #20c5e3, 14px 450px #20c5e3, 1182px 1559px #20c5e3,
    1980px 1586px #20c5e3, 1495px 81px #20c5e3, 208px 234px #20c5e3,
    889px 1021px #20c5e3, 1959px 1700px #20c5e3, 18px 1391px #20c5e3,
    650px 1870px #20c5e3, 1624px 662px #20c5e3, 887px 1178px #20c5e3,
    773px 551px #20c5e3, 1452px 756px #20c5e3, 537px 548px #20c5e3,
    1879px 1550px #20c5e3, 1638px 681px #20c5e3, 1161px 757px #20c5e3,
    875px 769px #20c5e3, 510px 1629px #20c5e3, 1724px 1492px #20c5e3,
    1852px 515px #20c5e3, 1961px 1034px #20c5e3, 398px 474px #20c5e3,
    430px 1649px #20c5e3, 1658px 1385px #20c5e3, 949px 1727px #20c5e3,
    1020px 1528px #20c5e3, 651px 1313px #20c5e3, 1635px 1679px #20c5e3,
    80px 1650px #20c5e3, 1423px 376px #20c5e3, 299px 974px #20c5e3,
    1410px 1998px #20c5e3, 1483px 256px #20c5e3, 897px 1206px #20c5e3,
    702px 471px #20c5e3, 1792px 1614px #20c5e3, 809px 344px #20c5e3,
    1296px 1724px #20c5e3, 1671px 1302px #20c5e3, 1940px 681px #20c5e3,
    1307px 29px #20c5e3, 598px 1336px #20c5e3, 1641px 247px #20c5e3,
    186px 49px #20c5e3, 379px 1249px #20c5e3, 1679px 447px #20c5e3,
    1247px 1943px #20c5e3, 1823px 1715px #20c5e3, 404px 1628px #20c5e3,
    586px 1995px #20c5e3, 793px 458px #20c5e3, 1366px 1645px #20c5e3,
    36px 754px #20c5e3, 1409px 824px #20c5e3, 845px 28px #20c5e3,
    550px 1350px #20c5e3, 1779px 254px #20c5e3, 1081px 347px #20c5e3,
    1203px 435px #20c5e3, 1405px 561px #20c5e3, 781px 1013px #20c5e3,
    1649px 534px #20c5e3, 565px 1293px #20c5e3, 1715px 358px #20c5e3,
    1050px 1682px #20c5e3, 553px 1111px #20c5e3, 938px 1574px #20c5e3,
    1678px 626px #20c5e3, 774px 117px #20c5e3, 190px 1014px #20c5e3,
    1401px 962px #20c5e3, 1972px 1816px #20c5e3, 291px 564px #20c5e3,
    1229px 940px #20c5e3, 324px 50px #20c5e3, 568px 188px #20c5e3,
    1035px 1742px #20c5e3, 460px 463px #20c5e3, 209px 1460px #20c5e3,
    315px 1210px #20c5e3, 591px 65px #20c5e3, 23px 1818px #20c5e3,
    1542px 894px #20c5e3, 1282px 1775px #20c5e3, 646px 119px #20c5e3,
    1113px 1961px #20c5e3, 211px 326px #20c5e3, 786px 1095px #20c5e3,
    1685px 713px #20c5e3, 1906px 1294px #20c5e3, 1402px 1746px #20c5e3,
    1472px 2px #20c5e3, 1146px 46px #20c5e3, 1931px 996px #20c5e3,
    487px 840px #20c5e3, 437px 665px #20c5e3, 1030px 1977px #20c5e3,
    333px 909px #20c5e3, 468px 1398px #20c5e3, 376px 1475px #20c5e3,
    1263px 326px #20c5e3, 1407px 1201px #20c5e3, 355px 774px #20c5e3,
    1608px 1135px #20c5e3, 620px 1678px #20c5e3, 1778px 1346px #20c5e3,
    382px 483px #20c5e3, 934px 133px #20c5e3, 603px 1989px #20c5e3,
    999px 1122px #20c5e3, 1958px 1680px #20c5e3, 1501px 1982px #20c5e3,
    1002px 1455px #20c5e3, 1635px 1383px #20c5e3, 688px 696px #20c5e3,
    1983px 1665px #20c5e3, 224px 1487px #20c5e3, 1512px 1402px #20c5e3,
    462px 489px #20c5e3, 538px 638px #20c5e3, 953px 650px #20c5e3,
    1918px 826px #20c5e3, 762px 1745px #20c5e3, 744px 148px #20c5e3,
    530px 779px #20c5e3, 33px 409px #20c5e3, 1114px 745px #20c5e3,
    1411px 917px #20c5e3, 17px 1800px #20c5e3, 157px 424px #20c5e3,
    249px 1292px #20c5e3, 822px 1236px #20c5e3, 1067px 1353px #20c5e3,
    839px 147px #20c5e3, 1832px 457px #20c5e3, 529px 1354px #20c5e3,
    1763px 1034px #20c5e3, 1336px 300px #20c5e3, 1071px 1668px #20c5e3,
    1613px 1201px #20c5e3, 137px 420px #20c5e3, 1023px 485px #20c5e3,
    357px 1470px #20c5e3, 171px 1385px #20c5e3, 673px 1541px #20c5e3,
    1215px 817px #20c5e3, 258px 1642px #20c5e3, 1206px 936px #20c5e3,
    336px 1676px #20c5e3, 1059px 1500px #20c5e3, 1366px 1405px #20c5e3,
    1482px 158px #20c5e3, 438px 1561px #20c5e3, 1661px 1394px #20c5e3,
    1030px 1401px #20c5e3, 1641px 45px #20c5e3, 1486px 464px #20c5e3,
    1699px 644px #20c5e3, 1203px 1137px #20c5e3, 475px 1638px #20c5e3,
    253px 1081px #20c5e3, 1829px 1379px #20c5e3, 783px 1457px #20c5e3,
    1588px 728px #20c5e3, 23px 365px #20c5e3, 389px 1501px #20c5e3,
    1649px 1130px #20c5e3, 191px 1478px #20c5e3, 234px 850px #20c5e3,
    374px 1276px #20c5e3, 1188px 1612px #20c5e3, 343px 471px #20c5e3,
    1114px 528px #20c5e3, 1211px 157px #20c5e3, 820px 1601px #20c5e3,
    246px 204px #20c5e3, 1527px 408px #20c5e3, 615px 73px #20c5e3,
    969px 1804px #20c5e3, 1663px 886px #20c5e3, 1807px 1064px #20c5e3,
    184px 1296px #20c5e3, 1802px 1362px #20c5e3, 328px 1510px #20c5e3,
    1953px 578px #20c5e3, 895px 2000px #20c5e3, 196px 1349px #20c5e3,
    955px 706px #20c5e3, 657px 194px #20c5e3, 1720px 1416px #20c5e3,
    527px 1427px #20c5e3, 1908px 1636px #20c5e3, 478px 1958px #20c5e3,
    741px 517px #20c5e3, 1778px 271px #20c5e3, 1965px 1204px #20c5e3,
    989px 831px #20c5e3, 813px 768px #20c5e3, 864px 1040px #20c5e3,
    1605px 1888px #20c5e3, 417px 363px #20c5e3, 209px 1550px #20c5e3,
    1864px 1644px #20c5e3, 1573px 599px #20c5e3, 1801px 183px #20c5e3,
    59px 596px #20c5e3, 1553px 938px #20c5e3, 1594px 1521px #20c5e3,
    857px 881px #20c5e3, 205px 120px #20c5e3, 982px 172px #20c5e3,
    840px 732px #20c5e3, 1787px 191px #20c5e3, 1767px 1255px #20c5e3,
    1265px 1125px #20c5e3, 1199px 17px #20c5e3, 955px 1686px #20c5e3,
    203px 507px #20c5e3, 1290px 907px #20c5e3, 430px 1483px #20c5e3,
    353px 1788px #20c5e3, 1004px 175px #20c5e3, 1209px 227px #20c5e3,
    1626px 222px #20c5e3, 113px 1567px #20c5e3, 1708px 1246px #20c5e3,
    48px 1971px #20c5e3, 276px 1992px #20c5e3, 1485px 1838px #20c5e3,
    1852px 1193px #20c5e3, 647px 261px #20c5e3, 1499px 175px #20c5e3,
    787px 868px #20c5e3, 1697px 1151px #20c5e3, 479px 1150px #20c5e3,
    486px 383px #20c5e3, 1917px 684px #20c5e3, 915px 492px #20c5e3,
    1521px 1795px #20c5e3, 182px 713px #20c5e3, 1926px 1154px #20c5e3,
    1576px 644px #20c5e3, 403px 1881px #20c5e3, 1821px 1171px #20c5e3,
    1918px 1071px #20c5e3, 824px 193px #20c5e3, 1442px 633px #20c5e3,
    353px 1908px #20c5e3, 1958px 1849px #20c5e3, 1676px 284px #20c5e3,
    1612px 1655px #20c5e3, 1354px 1771px #20c5e3, 1200px 1096px #20c5e3,
    719px 487px #20c5e3, 1811px 852px #20c5e3, 1360px 1144px #20c5e3,
    1164px 374px #20c5e3, 640px 147px #20c5e3, 1916px 1182px #20c5e3,
    832px 1295px #20c5e3, 1919px 969px #20c5e3, 866px 586px #20c5e3,
    521px 1255px #20c5e3, 1607px 1410px #20c5e3, 1729px 1740px #20c5e3,
    559px 58px #20c5e3, 425px 1638px #20c5e3, 1503px 1754px #20c5e3,
    596px 1899px #20c5e3, 1374px 926px #20c5e3, 701px 1274px #20c5e3,
    1217px 1605px #20c5e3, 590px 1795px #20c5e3, 1280px 173px #20c5e3,
    1036px 565px #20c5e3, 1078px 126px #20c5e3, 1038px 446px #20c5e3,
    1943px 139px #20c5e3, 298px 637px #20c5e3, 1456px 701px #20c5e3,
    68px 1666px #20c5e3, 1318px 117px #20c5e3, 50px 673px #20c5e3,
    1845px 193px #20c5e3, 540px 1738px #20c5e3, 158px 1540px #20c5e3,
    206px 1697px #20c5e3, 1063px 1841px #20c5e3, 658px 284px #20c5e3,
    332px 1137px #20c5e3, 814px 870px #20c5e3, 1929px 61px #20c5e3,
    219px 519px #20c5e3, 201px 1546px #20c5e3, 243px 789px #20c5e3,
    1479px 1345px #20c5e3, 1147px 543px #20c5e3, 506px 517px #20c5e3,
    428px 1178px #20c5e3, 1945px 1714px #20c5e3, 1350px 865px #20c5e3,
    653px 1875px #20c5e3, 117px 1731px #20c5e3, 302px 196px #20c5e3,
    956px 433px #20c5e3, 6px 1482px #20c5e3, 112px 912px #20c5e3,
    1081px 624px #20c5e3, 1824px 1838px #20c5e3, 720px 253px #20c5e3,
    1474px 1261px #20c5e3, 654px 1509px #20c5e3, 408px 18px #20c5e3,
    1543px 506px #20c5e3, 1269px 1974px #20c5e3, 1664px 510px #20c5e3,
    494px 465px #20c5e3, 638px 636px #20c5e3, 350px 185px #20c5e3,
    1204px 563px #20c5e3, 809px 936px #20c5e3, 1993px 1330px #20c5e3,
    1608px 159px #20c5e3, 1820px 813px #20c5e3, 488px 1088px #20c5e3,
    654px 395px #20c5e3, 95px 327px #20c5e3, 770px 1831px #20c5e3,
    420px 496px #20c5e3, 1178px 432px #20c5e3, 948px 87px #20c5e3,
    1699px 1881px #20c5e3, 170px 1096px #20c5e3, 1934px 833px #20c5e3,
    1379px 1461px #20c5e3, 588px 17px #20c5e3, 794px 335px #20c5e3,
    1883px 1597px #20c5e3, 433px 1517px #20c5e3, 1131px 236px #20c5e3,
    555px 327px #20c5e3, 321px 577px #20c5e3, 1024px 1251px #20c5e3,
    325px 105px #20c5e3, 1718px 1528px #20c5e3, 925px 1161px #20c5e3,
    1612px 1478px #20c5e3, 1082px 525px #20c5e3, 1350px 1444px #20c5e3,
    340px 1918px #20c5e3, 222px 1671px #20c5e3, 278px 465px #20c5e3,
    152px 887px #20c5e3, 543px 409px #20c5e3, 352px 9px #20c5e3,
    382px 98px #20c5e3, 1833px 1364px #20c5e3, 844px 1152px #20c5e3,
    57px 1366px #20c5e3, 1702px 1856px #20c5e3, 1499px 1726px #20c5e3,
    742px 1738px #20c5e3, 1094px 1137px #20c5e3, 1024px 1046px #20c5e3,
    245px 1349px #20c5e3, 393px 323px #20c5e3, 1297px 274px #20c5e3,
    998px 1819px #20c5e3, 1597px 810px #20c5e3, 1632px 1939px #20c5e3,
    286px 405px #20c5e3, 1386px 1532px #20c5e3, 423px 817px #20c5e3,
    341px 1879px #20c5e3, 1188px 303px #20c5e3, 131px 485px #20c5e3,
    224px 418px #20c5e3, 864px 784px #20c5e3, 442px 1398px #20c5e3,
    346px 330px #20c5e3, 1320px 1041px #20c5e3, 1531px 905px #20c5e3,
    640px 926px #20c5e3, 409px 1979px #20c5e3, 508px 1829px #20c5e3,
    423px 563px #20c5e3, 1851px 1276px #20c5e3, 1045px 535px #20c5e3,
    1360px 99px #20c5e3, 1990px 394px #20c5e3, 837px 204px #20c5e3,
    1821px 1954px #20c5e3, 222px 770px #20c5e3, 566px 184px #20c5e3,
    440px 216px #20c5e3, 1552px 1096px #20c5e3, 710px 1280px #20c5e3,
    289px 961px #20c5e3, 1056px 850px #20c5e3, 1278px 110px #20c5e3,
    1130px 707px #20c5e3, 1418px 948px #20c5e3, 1945px 968px #20c5e3,
    612px 183px #20c5e3, 361px 1554px #20c5e3, 1081px 1871px #20c5e3,
    1024px 236px #20c5e3, 1811px 443px #20c5e3, 1653px 1944px #20c5e3,
    1465px 1395px #20c5e3, 1702px 1845px #20c5e3, 1018px 1801px #20c5e3,
    1525px 191px #20c5e3, 1473px 720px #20c5e3, 1125px 1772px #20c5e3,
    213px 1979px #20c5e3, 1401px 1463px #20c5e3, 1076px 797px #20c5e3,
    837px 1242px #20c5e3, 1556px 1002px #20c5e3, 404px 982px #20c5e3,
    175px 1180px #20c5e3, 1170px 1801px #20c5e3, 367px 921px #20c5e3,
    1367px 1428px #20c5e3, 1478px 823px #20c5e3, 1719px 418px #20c5e3,
    1091px 1991px #20c5e3, 59px 505px #20c5e3, 1628px 1409px #20c5e3,
    1787px 1776px #20c5e3, 1830px 1191px #20c5e3, 1976px 309px #20c5e3,
    909px 993px #20c5e3, 1106px 1074px #20c5e3, 1052px 1997px #20c5e3,
    1131px 1816px #20c5e3, 1146px 997px #20c5e3, 1526px 1988px #20c5e3,
    1869px 94px #20c5e3, 137px 1667px #20c5e3, 1937px 1810px #20c5e3,
    534px 300px #20c5e3, 1995px 1879px #20c5e3, 157px 1709px #20c5e3,
    498px 55px #20c5e3, 5px 1290px #20c5e3, 1898px 1372px #20c5e3,
    585px 1269px #20c5e3, 1401px 1966px #20c5e3, 1899px 811px #20c5e3,
    1124px 1366px #20c5e3, 1454px 25px #20c5e3, 1109px 563px #20c5e3,
    1850px 861px #20c5e3, 655px 1742px #20c5e3, 1755px 1071px #20c5e3,
    797px 166px #20c5e3, 1008px 724px #20c5e3, 1332px 238px #20c5e3,
    373px 1416px #20c5e3, 295px 1328px #20c5e3, 1629px 1308px #20c5e3,
    1062px 324px #20c5e3, 192px 445px #20c5e3, 1061px 704px #20c5e3,
    159px 1121px #20c5e3, 234px 1965px #20c5e3, 1130px 1652px #20c5e3,
    1734px 675px #20c5e3, 1304px 265px #20c5e3, 587px 825px #20c5e3,
    1325px 1679px #20c5e3, 377px 293px #20c5e3, 261px 1275px #20c5e3,
    1246px 1666px #20c5e3, 1796px 765px #20c5e3, 508px 94px #20c5e3,
    643px 166px #20c5e3, 936px 893px #20c5e3, 1639px 486px #20c5e3,
    300px 2px #20c5e3, 1304px 154px #20c5e3, 1772px 558px #20c5e3,
    305px 707px #20c5e3, 158px 1802px #20c5e3, 1544px 1872px #20c5e3,
    1491px 556px #20c5e3, 1483px 1550px #20c5e3, 986px 1742px #20c5e3,
    1511px 1822px #20c5e3, 689px 234px #20c5e3, 82px 1111px #20c5e3,
    1136px 1530px #20c5e3, 1176px 1197px #20c5e3, 1640px 580px #20c5e3,
    1891px 1134px #20c5e3, 1498px 512px #20c5e3, 1064px 218px #20c5e3,
    50px 1511px #20c5e3, 1389px 776px #20c5e3, 217px 327px #20c5e3,
    1869px 1308px #20c5e3, 450px 1277px #20c5e3, 1574px 373px #20c5e3,
    1283px 104px #20c5e3, 1213px 1284px #20c5e3, 168px 1686px #20c5e3,
    1132px 776px #20c5e3, 1670px 820px #20c5e3, 1735px 1689px #20c5e3,
    581px 402px #20c5e3, 457px 879px #20c5e3, 282px 1981px #20c5e3,
    207px 1366px #20c5e3, 783px 915px #20c5e3, 1294px 428px #20c5e3,
    1346px 1076px #20c5e3, 417px 1159px #20c5e3, 660px 224px #20c5e3,
    1067px 223px #20c5e3, 1503px 68px #20c5e3, 924px 1821px #20c5e3,
    859px 817px #20c5e3, 172px 774px #20c5e3, 1344px 456px #20c5e3,
    769px 767px #20c5e3, 1362px 1844px #20c5e3, 1183px 1610px #20c5e3,
    285px 1272px #20c5e3, 1233px 147px #20c5e3, 653px 26px #20c5e3,
    802px 347px #20c5e3, 1828px 287px #20c5e3, 197px 1211px #20c5e3,
    1393px 632px #20c5e3, 1476px 1133px #20c5e3, 584px 842px #20c5e3,
    1047px 1573px #20c5e3, 1173px 38px #20c5e3, 1151px 548px #20c5e3,
    292px 734px #20c5e3, 257px 774px #20c5e3, 215px 1582px #20c5e3,
    1505px 508px #20c5e3, 454px 585px #20c5e3, 734px 174px #20c5e3,
    1841px 1228px #20c5e3, 160px 230px #20c5e3, 639px 1860px #20c5e3,
    695px 286px #20c5e3, 1241px 1011px #20c5e3, 833px 1034px #20c5e3,
    563px 1504px #20c5e3, 214px 467px #20c5e3, 341px 1909px #20c5e3,
    1970px 1237px #20c5e3, 845px 1226px #20c5e3, 492px 1940px #20c5e3,
    1280px 510px #20c5e3, 716px 822px #20c5e3, 12px 340px #20c5e3,
    829px 1775px #20c5e3, 816px 726px #20c5e3, 241px 1366px #20c5e3,
    759px 1530px #20c5e3, 1509px 190px #20c5e3, 311px 215px #20c5e3,
    446px 116px #20c5e3, 1309px 309px #20c5e3, 1344px 1391px #20c5e3,
    378px 1875px #20c5e3, 1270px 252px #20c5e3, 1073px 1674px #20c5e3,
    9px 476px #20c5e3, 89px 1191px #20c5e3, 850px 478px #20c5e3,
    1721px 1176px #20c5e3, 872px 612px #20c5e3, 1347px 1309px #20c5e3,
    682px 774px #20c5e3, 729px 536px #20c5e3, 729px 757px #20c5e3,
    1934px 760px #20c5e3, 67px 721px #20c5e3, 321px 1430px #20c5e3,
    1326px 1295px #20c5e3, 545px 709px #20c5e3, 66px 327px #20c5e3,
    1173px 354px #20c5e3, 848px 496px #20c5e3, 486px 1402px #20c5e3,
    1763px 1483px #20c5e3, 1844px 1886px #20c5e3, 1267px 182px #20c5e3,
    688px 1399px #20c5e3, 1649px 239px #20c5e3, 1058px 673px #20c5e3,
    1174px 1483px #20c5e3, 787px 381px #20c5e3, 239px 478px #20c5e3,
    356px 1345px #20c5e3, 1162px 925px #20c5e3, 1828px 1404px #20c5e3,
    391px 1785px #20c5e3, 1749px 1368px #20c5e3, 1807px 312px #20c5e3,
    1108px 666px #20c5e3, 1346px 1773px #20c5e3, 47px 307px #20c5e3,
    1607px 1246px #20c5e3, 7px 1182px #20c5e3, 755px 1533px #20c5e3,
    1892px 1081px #20c5e3, 1014px 111px #20c5e3, 754px 1379px #20c5e3,
    1357px 528px #20c5e3, 1465px 620px #20c5e3, 1106px 1657px #20c5e3,
    296px 1944px #20c5e3, 1678px 1515px #20c5e3, 1875px 1285px #20c5e3,
    608px 860px #20c5e3, 1933px 1112px #20c5e3, 1868px 916px #20c5e3,
    1837px 1099px #20c5e3, 207px 1654px #20c5e3, 1328px 951px #20c5e3,
    1406px 1822px #20c5e3, 811px 60px #20c5e3, 1440px 53px #20c5e3,
    108px 1780px #20c5e3, 1082px 1874px #20c5e3, 350px 1900px #20c5e3,
    104px 1874px #20c5e3, 187px 536px #20c5e3, 1469px 249px #20c5e3,
    929px 1523px #20c5e3, 1308px 1638px #20c5e3, 1297px 1123px #20c5e3,
    253px 1903px #20c5e3, 1854px 1780px #20c5e3, 630px 1770px #20c5e3,
    1369px 1239px #20c5e3, 319px 71px #20c5e3, 1225px 1236px #20c5e3,
    907px 588px #20c5e3, 1443px 1954px #20c5e3, 241px 714px #20c5e3,
    1423px 1174px #20c5e3, 215px 1825px #20c5e3, 815px 1197px #20c5e3,
    1206px 1978px #20c5e3, 662px 184px #20c5e3, 716px 799px #20c5e3,
    674px 532px #20c5e3;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 500px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1130px 1134px #20c5e3, 265px 661px #20c5e3, 720px 1602px #20c5e3,
    620px 183px #20c5e3, 661px 11px #20c5e3, 421px 62px #20c5e3,
    493px 1915px #20c5e3, 425px 1252px #20c5e3, 145px 1578px #20c5e3,
    1142px 1246px #20c5e3, 57px 1327px #20c5e3, 553px 1472px #20c5e3,
    587px 257px #20c5e3, 711px 1105px #20c5e3, 891px 616px #20c5e3,
    998px 1895px #20c5e3, 1079px 931px #20c5e3, 1644px 1304px #20c5e3,
    1083px 1846px #20c5e3, 1715px 577px #20c5e3, 1308px 1744px #20c5e3,
    1305px 1952px #20c5e3, 483px 1927px #20c5e3, 1429px 431px #20c5e3,
    1316px 838px #20c5e3, 27px 197px #20c5e3, 942px 1477px #20c5e3,
    214px 560px #20c5e3, 1736px 1762px #20c5e3, 1358px 93px #20c5e3,
    68px 1841px #20c5e3, 1789px 1135px #20c5e3, 1495px 1955px #20c5e3,
    1478px 1893px #20c5e3, 231px 1567px #20c5e3, 447px 1459px #20c5e3,
    380px 97px #20c5e3, 351px 1175px #20c5e3, 1300px 1932px #20c5e3,
    459px 1214px #20c5e3, 1739px 1009px #20c5e3, 559px 1206px #20c5e3,
    1374px 752px #20c5e3, 14px 450px #20c5e3, 1182px 1559px #20c5e3,
    1980px 1586px #20c5e3, 1495px 81px #20c5e3, 208px 234px #20c5e3,
    889px 1021px #20c5e3, 1959px 1700px #20c5e3, 18px 1391px #20c5e3,
    650px 1870px #20c5e3, 1624px 662px #20c5e3, 887px 1178px #20c5e3,
    773px 551px #20c5e3, 1452px 756px #20c5e3, 537px 548px #20c5e3,
    1879px 1550px #20c5e3, 1638px 681px #20c5e3, 1161px 757px #20c5e3,
    875px 769px #20c5e3, 510px 1629px #20c5e3, 1724px 1492px #20c5e3,
    1852px 515px #20c5e3, 1961px 1034px #20c5e3, 398px 474px #20c5e3,
    430px 1649px #20c5e3, 1658px 1385px #20c5e3, 949px 1727px #20c5e3,
    1020px 1528px #20c5e3, 651px 1313px #20c5e3, 1635px 1679px #20c5e3,
    80px 1650px #20c5e3, 1423px 376px #20c5e3, 299px 974px #20c5e3,
    1410px 1998px #20c5e3, 1483px 256px #20c5e3, 897px 1206px #20c5e3,
    702px 471px #20c5e3, 1792px 1614px #20c5e3, 809px 344px #20c5e3,
    1296px 1724px #20c5e3, 1671px 1302px #20c5e3, 1940px 681px #20c5e3,
    1307px 29px #20c5e3, 598px 1336px #20c5e3, 1641px 247px #20c5e3,
    186px 49px #20c5e3, 379px 1249px #20c5e3, 1679px 447px #20c5e3,
    1247px 1943px #20c5e3, 1823px 1715px #20c5e3, 404px 1628px #20c5e3,
    586px 1995px #20c5e3, 793px 458px #20c5e3, 1366px 1645px #20c5e3,
    36px 754px #20c5e3, 1409px 824px #20c5e3, 845px 28px #20c5e3,
    550px 1350px #20c5e3, 1779px 254px #20c5e3, 1081px 347px #20c5e3,
    1203px 435px #20c5e3, 1405px 561px #20c5e3, 781px 1013px #20c5e3,
    1649px 534px #20c5e3, 565px 1293px #20c5e3, 1715px 358px #20c5e3,
    1050px 1682px #20c5e3, 553px 1111px #20c5e3, 938px 1574px #20c5e3,
    1678px 626px #20c5e3, 774px 117px #20c5e3, 190px 1014px #20c5e3,
    1401px 962px #20c5e3, 1972px 1816px #20c5e3, 291px 564px #20c5e3,
    1229px 940px #20c5e3, 324px 50px #20c5e3, 568px 188px #20c5e3,
    1035px 1742px #20c5e3, 460px 463px #20c5e3, 209px 1460px #20c5e3,
    315px 1210px #20c5e3, 591px 65px #20c5e3, 23px 1818px #20c5e3,
    1542px 894px #20c5e3, 1282px 1775px #20c5e3, 646px 119px #20c5e3,
    1113px 1961px #20c5e3, 211px 326px #20c5e3, 786px 1095px #20c5e3,
    1685px 713px #20c5e3, 1906px 1294px #20c5e3, 1402px 1746px #20c5e3,
    1472px 2px #20c5e3, 1146px 46px #20c5e3, 1931px 996px #20c5e3,
    487px 840px #20c5e3, 437px 665px #20c5e3, 1030px 1977px #20c5e3,
    333px 909px #20c5e3, 468px 1398px #20c5e3, 376px 1475px #20c5e3,
    1263px 326px #20c5e3, 1407px 1201px #20c5e3, 355px 774px #20c5e3,
    1608px 1135px #20c5e3, 620px 1678px #20c5e3, 1778px 1346px #20c5e3,
    382px 483px #20c5e3, 934px 133px #20c5e3, 603px 1989px #20c5e3,
    999px 1122px #20c5e3, 1958px 1680px #20c5e3, 1501px 1982px #20c5e3,
    1002px 1455px #20c5e3, 1635px 1383px #20c5e3, 688px 696px #20c5e3,
    1983px 1665px #20c5e3, 224px 1487px #20c5e3, 1512px 1402px #20c5e3,
    462px 489px #20c5e3, 538px 638px #20c5e3, 953px 650px #20c5e3,
    1918px 826px #20c5e3, 762px 1745px #20c5e3, 744px 148px #20c5e3,
    530px 779px #20c5e3, 33px 409px #20c5e3, 1114px 745px #20c5e3,
    1411px 917px #20c5e3, 17px 1800px #20c5e3, 157px 424px #20c5e3,
    249px 1292px #20c5e3, 822px 1236px #20c5e3, 1067px 1353px #20c5e3,
    839px 147px #20c5e3, 1832px 457px #20c5e3, 529px 1354px #20c5e3,
    1763px 1034px #20c5e3, 1336px 300px #20c5e3, 1071px 1668px #20c5e3,
    1613px 1201px #20c5e3, 137px 420px #20c5e3, 1023px 485px #20c5e3,
    357px 1470px #20c5e3, 171px 1385px #20c5e3, 673px 1541px #20c5e3,
    1215px 817px #20c5e3, 258px 1642px #20c5e3, 1206px 936px #20c5e3,
    336px 1676px #20c5e3, 1059px 1500px #20c5e3, 1366px 1405px #20c5e3,
    1482px 158px #20c5e3, 438px 1561px #20c5e3, 1661px 1394px #20c5e3,
    1030px 1401px #20c5e3, 1641px 45px #20c5e3, 1486px 464px #20c5e3,
    1699px 644px #20c5e3, 1203px 1137px #20c5e3, 475px 1638px #20c5e3,
    253px 1081px #20c5e3, 1829px 1379px #20c5e3, 783px 1457px #20c5e3,
    1588px 728px #20c5e3, 23px 365px #20c5e3, 389px 1501px #20c5e3,
    1649px 1130px #20c5e3, 191px 1478px #20c5e3, 234px 850px #20c5e3,
    374px 1276px #20c5e3, 1188px 1612px #20c5e3, 343px 471px #20c5e3,
    1114px 528px #20c5e3, 1211px 157px #20c5e3, 820px 1601px #20c5e3,
    246px 204px #20c5e3, 1527px 408px #20c5e3, 615px 73px #20c5e3,
    969px 1804px #20c5e3, 1663px 886px #20c5e3, 1807px 1064px #20c5e3,
    184px 1296px #20c5e3, 1802px 1362px #20c5e3, 328px 1510px #20c5e3,
    1953px 578px #20c5e3, 895px 2000px #20c5e3, 196px 1349px #20c5e3,
    955px 706px #20c5e3, 657px 194px #20c5e3, 1720px 1416px #20c5e3,
    527px 1427px #20c5e3, 1908px 1636px #20c5e3, 478px 1958px #20c5e3,
    741px 517px #20c5e3, 1778px 271px #20c5e3, 1965px 1204px #20c5e3,
    989px 831px #20c5e3, 813px 768px #20c5e3, 864px 1040px #20c5e3,
    1605px 1888px #20c5e3, 417px 363px #20c5e3, 209px 1550px #20c5e3,
    1864px 1644px #20c5e3, 1573px 599px #20c5e3, 1801px 183px #20c5e3,
    59px 596px #20c5e3, 1553px 938px #20c5e3, 1594px 1521px #20c5e3,
    857px 881px #20c5e3, 205px 120px #20c5e3, 982px 172px #20c5e3,
    840px 732px #20c5e3, 1787px 191px #20c5e3, 1767px 1255px #20c5e3,
    1265px 1125px #20c5e3, 1199px 17px #20c5e3, 955px 1686px #20c5e3,
    203px 507px #20c5e3, 1290px 907px #20c5e3, 430px 1483px #20c5e3,
    353px 1788px #20c5e3, 1004px 175px #20c5e3, 1209px 227px #20c5e3,
    1626px 222px #20c5e3, 113px 1567px #20c5e3, 1708px 1246px #20c5e3,
    48px 1971px #20c5e3, 276px 1992px #20c5e3, 1485px 1838px #20c5e3,
    1852px 1193px #20c5e3, 647px 261px #20c5e3, 1499px 175px #20c5e3,
    787px 868px #20c5e3, 1697px 1151px #20c5e3, 479px 1150px #20c5e3,
    486px 383px #20c5e3, 1917px 684px #20c5e3, 915px 492px #20c5e3,
    1521px 1795px #20c5e3, 182px 713px #20c5e3, 1926px 1154px #20c5e3,
    1576px 644px #20c5e3, 403px 1881px #20c5e3, 1821px 1171px #20c5e3,
    1918px 1071px #20c5e3, 824px 193px #20c5e3, 1442px 633px #20c5e3,
    353px 1908px #20c5e3, 1958px 1849px #20c5e3, 1676px 284px #20c5e3,
    1612px 1655px #20c5e3, 1354px 1771px #20c5e3, 1200px 1096px #20c5e3,
    719px 487px #20c5e3, 1811px 852px #20c5e3, 1360px 1144px #20c5e3,
    1164px 374px #20c5e3, 640px 147px #20c5e3, 1916px 1182px #20c5e3,
    832px 1295px #20c5e3, 1919px 969px #20c5e3, 866px 586px #20c5e3,
    521px 1255px #20c5e3, 1607px 1410px #20c5e3, 1729px 1740px #20c5e3,
    559px 58px #20c5e3, 425px 1638px #20c5e3, 1503px 1754px #20c5e3,
    596px 1899px #20c5e3, 1374px 926px #20c5e3, 701px 1274px #20c5e3,
    1217px 1605px #20c5e3, 590px 1795px #20c5e3, 1280px 173px #20c5e3,
    1036px 565px #20c5e3, 1078px 126px #20c5e3, 1038px 446px #20c5e3,
    1943px 139px #20c5e3, 298px 637px #20c5e3, 1456px 701px #20c5e3,
    68px 1666px #20c5e3, 1318px 117px #20c5e3, 50px 673px #20c5e3,
    1845px 193px #20c5e3, 540px 1738px #20c5e3, 158px 1540px #20c5e3,
    206px 1697px #20c5e3, 1063px 1841px #20c5e3, 658px 284px #20c5e3,
    332px 1137px #20c5e3, 814px 870px #20c5e3, 1929px 61px #20c5e3,
    219px 519px #20c5e3, 201px 1546px #20c5e3, 243px 789px #20c5e3,
    1479px 1345px #20c5e3, 1147px 543px #20c5e3, 506px 517px #20c5e3,
    428px 1178px #20c5e3, 1945px 1714px #20c5e3, 1350px 865px #20c5e3,
    653px 1875px #20c5e3, 117px 1731px #20c5e3, 302px 196px #20c5e3,
    956px 433px #20c5e3, 6px 1482px #20c5e3, 112px 912px #20c5e3,
    1081px 624px #20c5e3, 1824px 1838px #20c5e3, 720px 253px #20c5e3,
    1474px 1261px #20c5e3, 654px 1509px #20c5e3, 408px 18px #20c5e3,
    1543px 506px #20c5e3, 1269px 1974px #20c5e3, 1664px 510px #20c5e3,
    494px 465px #20c5e3, 638px 636px #20c5e3, 350px 185px #20c5e3,
    1204px 563px #20c5e3, 809px 936px #20c5e3, 1993px 1330px #20c5e3,
    1608px 159px #20c5e3, 1820px 813px #20c5e3, 488px 1088px #20c5e3,
    654px 395px #20c5e3, 95px 327px #20c5e3, 770px 1831px #20c5e3,
    420px 496px #20c5e3, 1178px 432px #20c5e3, 948px 87px #20c5e3,
    1699px 1881px #20c5e3, 170px 1096px #20c5e3, 1934px 833px #20c5e3,
    1379px 1461px #20c5e3, 588px 17px #20c5e3, 794px 335px #20c5e3,
    1883px 1597px #20c5e3, 433px 1517px #20c5e3, 1131px 236px #20c5e3,
    555px 327px #20c5e3, 321px 577px #20c5e3, 1024px 1251px #20c5e3,
    325px 105px #20c5e3, 1718px 1528px #20c5e3, 925px 1161px #20c5e3,
    1612px 1478px #20c5e3, 1082px 525px #20c5e3, 1350px 1444px #20c5e3,
    340px 1918px #20c5e3, 222px 1671px #20c5e3, 278px 465px #20c5e3,
    152px 887px #20c5e3, 543px 409px #20c5e3, 352px 9px #20c5e3,
    382px 98px #20c5e3, 1833px 1364px #20c5e3, 844px 1152px #20c5e3,
    57px 1366px #20c5e3, 1702px 1856px #20c5e3, 1499px 1726px #20c5e3,
    742px 1738px #20c5e3, 1094px 1137px #20c5e3, 1024px 1046px #20c5e3,
    245px 1349px #20c5e3, 393px 323px #20c5e3, 1297px 274px #20c5e3,
    998px 1819px #20c5e3, 1597px 810px #20c5e3, 1632px 1939px #20c5e3,
    286px 405px #20c5e3, 1386px 1532px #20c5e3, 423px 817px #20c5e3,
    341px 1879px #20c5e3, 1188px 303px #20c5e3, 131px 485px #20c5e3,
    224px 418px #20c5e3, 864px 784px #20c5e3, 442px 1398px #20c5e3,
    346px 330px #20c5e3, 1320px 1041px #20c5e3, 1531px 905px #20c5e3,
    640px 926px #20c5e3, 409px 1979px #20c5e3, 508px 1829px #20c5e3,
    423px 563px #20c5e3, 1851px 1276px #20c5e3, 1045px 535px #20c5e3,
    1360px 99px #20c5e3, 1990px 394px #20c5e3, 837px 204px #20c5e3,
    1821px 1954px #20c5e3, 222px 770px #20c5e3, 566px 184px #20c5e3,
    440px 216px #20c5e3, 1552px 1096px #20c5e3, 710px 1280px #20c5e3,
    289px 961px #20c5e3, 1056px 850px #20c5e3, 1278px 110px #20c5e3,
    1130px 707px #20c5e3, 1418px 948px #20c5e3, 1945px 968px #20c5e3,
    612px 183px #20c5e3, 361px 1554px #20c5e3, 1081px 1871px #20c5e3,
    1024px 236px #20c5e3, 1811px 443px #20c5e3, 1653px 1944px #20c5e3,
    1465px 1395px #20c5e3, 1702px 1845px #20c5e3, 1018px 1801px #20c5e3,
    1525px 191px #20c5e3, 1473px 720px #20c5e3, 1125px 1772px #20c5e3,
    213px 1979px #20c5e3, 1401px 1463px #20c5e3, 1076px 797px #20c5e3,
    837px 1242px #20c5e3, 1556px 1002px #20c5e3, 404px 982px #20c5e3,
    175px 1180px #20c5e3, 1170px 1801px #20c5e3, 367px 921px #20c5e3,
    1367px 1428px #20c5e3, 1478px 823px #20c5e3, 1719px 418px #20c5e3,
    1091px 1991px #20c5e3, 59px 505px #20c5e3, 1628px 1409px #20c5e3,
    1787px 1776px #20c5e3, 1830px 1191px #20c5e3, 1976px 309px #20c5e3,
    909px 993px #20c5e3, 1106px 1074px #20c5e3, 1052px 1997px #20c5e3,
    1131px 1816px #20c5e3, 1146px 997px #20c5e3, 1526px 1988px #20c5e3,
    1869px 94px #20c5e3, 137px 1667px #20c5e3, 1937px 1810px #20c5e3,
    534px 300px #20c5e3, 1995px 1879px #20c5e3, 157px 1709px #20c5e3,
    498px 55px #20c5e3, 5px 1290px #20c5e3, 1898px 1372px #20c5e3,
    585px 1269px #20c5e3, 1401px 1966px #20c5e3, 1899px 811px #20c5e3,
    1124px 1366px #20c5e3, 1454px 25px #20c5e3, 1109px 563px #20c5e3,
    1850px 861px #20c5e3, 655px 1742px #20c5e3, 1755px 1071px #20c5e3,
    797px 166px #20c5e3, 1008px 724px #20c5e3, 1332px 238px #20c5e3,
    373px 1416px #20c5e3, 295px 1328px #20c5e3, 1629px 1308px #20c5e3,
    1062px 324px #20c5e3, 192px 445px #20c5e3, 1061px 704px #20c5e3,
    159px 1121px #20c5e3, 234px 1965px #20c5e3, 1130px 1652px #20c5e3,
    1734px 675px #20c5e3, 1304px 265px #20c5e3, 587px 825px #20c5e3,
    1325px 1679px #20c5e3, 377px 293px #20c5e3, 261px 1275px #20c5e3,
    1246px 1666px #20c5e3, 1796px 765px #20c5e3, 508px 94px #20c5e3,
    643px 166px #20c5e3, 936px 893px #20c5e3, 1639px 486px #20c5e3,
    300px 2px #20c5e3, 1304px 154px #20c5e3, 1772px 558px #20c5e3,
    305px 707px #20c5e3, 158px 1802px #20c5e3, 1544px 1872px #20c5e3,
    1491px 556px #20c5e3, 1483px 1550px #20c5e3, 986px 1742px #20c5e3,
    1511px 1822px #20c5e3, 689px 234px #20c5e3, 82px 1111px #20c5e3,
    1136px 1530px #20c5e3, 1176px 1197px #20c5e3, 1640px 580px #20c5e3,
    1891px 1134px #20c5e3, 1498px 512px #20c5e3, 1064px 218px #20c5e3,
    50px 1511px #20c5e3, 1389px 776px #20c5e3, 217px 327px #20c5e3,
    1869px 1308px #20c5e3, 450px 1277px #20c5e3, 1574px 373px #20c5e3,
    1283px 104px #20c5e3, 1213px 1284px #20c5e3, 168px 1686px #20c5e3,
    1132px 776px #20c5e3, 1670px 820px #20c5e3, 1735px 1689px #20c5e3,
    581px 402px #20c5e3, 457px 879px #20c5e3, 282px 1981px #20c5e3,
    207px 1366px #20c5e3, 783px 915px #20c5e3, 1294px 428px #20c5e3,
    1346px 1076px #20c5e3, 417px 1159px #20c5e3, 660px 224px #20c5e3,
    1067px 223px #20c5e3, 1503px 68px #20c5e3, 924px 1821px #20c5e3,
    859px 817px #20c5e3, 172px 774px #20c5e3, 1344px 456px #20c5e3,
    769px 767px #20c5e3, 1362px 1844px #20c5e3, 1183px 1610px #20c5e3,
    285px 1272px #20c5e3, 1233px 147px #20c5e3, 653px 26px #20c5e3,
    802px 347px #20c5e3, 1828px 287px #20c5e3, 197px 1211px #20c5e3,
    1393px 632px #20c5e3, 1476px 1133px #20c5e3, 584px 842px #20c5e3,
    1047px 1573px #20c5e3, 1173px 38px #20c5e3, 1151px 548px #20c5e3,
    292px 734px #20c5e3, 257px 774px #20c5e3, 215px 1582px #20c5e3,
    1505px 508px #20c5e3, 454px 585px #20c5e3, 734px 174px #20c5e3,
    1841px 1228px #20c5e3, 160px 230px #20c5e3, 639px 1860px #20c5e3,
    695px 286px #20c5e3, 1241px 1011px #20c5e3, 833px 1034px #20c5e3,
    563px 1504px #20c5e3, 214px 467px #20c5e3, 341px 1909px #20c5e3,
    1970px 1237px #20c5e3, 845px 1226px #20c5e3, 492px 1940px #20c5e3,
    1280px 510px #20c5e3, 716px 822px #20c5e3, 12px 340px #20c5e3,
    829px 1775px #20c5e3, 816px 726px #20c5e3, 241px 1366px #20c5e3,
    759px 1530px #20c5e3, 1509px 190px #20c5e3, 311px 215px #20c5e3,
    446px 116px #20c5e3, 1309px 309px #20c5e3, 1344px 1391px #20c5e3,
    378px 1875px #20c5e3, 1270px 252px #20c5e3, 1073px 1674px #20c5e3,
    9px 476px #20c5e3, 89px 1191px #20c5e3, 850px 478px #20c5e3,
    1721px 1176px #20c5e3, 872px 612px #20c5e3, 1347px 1309px #20c5e3,
    682px 774px #20c5e3, 729px 536px #20c5e3, 729px 757px #20c5e3,
    1934px 760px #20c5e3, 67px 721px #20c5e3, 321px 1430px #20c5e3,
    1326px 1295px #20c5e3, 545px 709px #20c5e3, 66px 327px #20c5e3,
    1173px 354px #20c5e3, 848px 496px #20c5e3, 486px 1402px #20c5e3,
    1763px 1483px #20c5e3, 1844px 1886px #20c5e3, 1267px 182px #20c5e3,
    688px 1399px #20c5e3, 1649px 239px #20c5e3, 1058px 673px #20c5e3,
    1174px 1483px #20c5e3, 787px 381px #20c5e3, 239px 478px #20c5e3,
    356px 1345px #20c5e3, 1162px 925px #20c5e3, 1828px 1404px #20c5e3,
    391px 1785px #20c5e3, 1749px 1368px #20c5e3, 1807px 312px #20c5e3,
    1108px 666px #20c5e3, 1346px 1773px #20c5e3, 47px 307px #20c5e3,
    1607px 1246px #20c5e3, 7px 1182px #20c5e3, 755px 1533px #20c5e3,
    1892px 1081px #20c5e3, 1014px 111px #20c5e3, 754px 1379px #20c5e3,
    1357px 528px #20c5e3, 1465px 620px #20c5e3, 1106px 1657px #20c5e3,
    296px 1944px #20c5e3, 1678px 1515px #20c5e3, 1875px 1285px #20c5e3,
    608px 860px #20c5e3, 1933px 1112px #20c5e3, 1868px 916px #20c5e3,
    1837px 1099px #20c5e3, 207px 1654px #20c5e3, 1328px 951px #20c5e3,
    1406px 1822px #20c5e3, 811px 60px #20c5e3, 1440px 53px #20c5e3,
    108px 1780px #20c5e3, 1082px 1874px #20c5e3, 350px 1900px #20c5e3,
    104px 1874px #20c5e3, 187px 536px #20c5e3, 1469px 249px #20c5e3,
    929px 1523px #20c5e3, 1308px 1638px #20c5e3, 1297px 1123px #20c5e3,
    253px 1903px #20c5e3, 1854px 1780px #20c5e3, 630px 1770px #20c5e3,
    1369px 1239px #20c5e3, 319px 71px #20c5e3, 1225px 1236px #20c5e3,
    907px 588px #20c5e3, 1443px 1954px #20c5e3, 241px 714px #20c5e3,
    1423px 1174px #20c5e3, 215px 1825px #20c5e3, 815px 1197px #20c5e3,
    1206px 1978px #20c5e3, 662px 184px #20c5e3, 716px 799px #20c5e3,
    674px 532px #20c5e3;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 867px 404px #20c5e3, 464px 1313px #20c5e3, 246px 31px #20c5e3,
    730px 1576px #20c5e3, 1093px 145px #20c5e3, 1274px 248px #20c5e3,
    149px 496px #20c5e3, 579px 1730px #20c5e3, 590px 1228px #20c5e3,
    1103px 932px #20c5e3, 377px 179px #20c5e3, 1009px 865px #20c5e3,
    1472px 443px #20c5e3, 914px 1850px #20c5e3, 1330px 945px #20c5e3,
    1432px 1631px #20c5e3, 946px 1974px #20c5e3, 1542px 1131px #20c5e3,
    681px 1886px #20c5e3, 42px 901px #20c5e3, 520px 596px #20c5e3,
    1192px 661px #20c5e3, 1488px 84px #20c5e3, 1396px 1563px #20c5e3,
    187px 1134px #20c5e3, 960px 1613px #20c5e3, 1366px 551px #20c5e3,
    1963px 1053px #20c5e3, 987px 192px #20c5e3, 1396px 782px #20c5e3,
    1277px 1318px #20c5e3, 1264px 1047px #20c5e3, 289px 1193px #20c5e3,
    1594px 1880px #20c5e3, 934px 1713px #20c5e3, 1405px 394px #20c5e3,
    121px 666px #20c5e3, 1387px 101px #20c5e3, 760px 1727px #20c5e3,
    1582px 1523px #20c5e3, 585px 1129px #20c5e3, 213px 935px #20c5e3,
    561px 1377px #20c5e3, 1921px 1798px #20c5e3, 590px 1536px #20c5e3,
    1378px 1558px #20c5e3, 607px 469px #20c5e3, 767px 1342px #20c5e3,
    389px 141px #20c5e3, 1819px 215px #20c5e3, 540px 1124px #20c5e3,
    894px 368px #20c5e3, 1003px 516px #20c5e3, 1908px 1817px #20c5e3,
    1847px 1691px #20c5e3, 1163px 1609px #20c5e3, 1849px 5px #20c5e3,
    1984px 488px #20c5e3, 72px 1871px #20c5e3, 584px 1482px #20c5e3,
    811px 931px #20c5e3, 1545px 1341px #20c5e3, 1575px 1129px #20c5e3,
    973px 1066px #20c5e3, 641px 930px #20c5e3, 642px 360px #20c5e3,
    632px 1870px #20c5e3, 636px 265px #20c5e3, 1541px 230px #20c5e3,
    1557px 1292px #20c5e3, 1393px 1744px #20c5e3, 948px 726px #20c5e3,
    154px 1795px #20c5e3, 1865px 222px #20c5e3, 1333px 1942px #20c5e3,
    1466px 1777px #20c5e3, 1698px 550px #20c5e3, 13px 527px #20c5e3,
    1812px 1050px #20c5e3, 286px 1030px #20c5e3, 1136px 731px #20c5e3,
    43px 272px #20c5e3, 992px 1357px #20c5e3, 110px 221px #20c5e3,
    347px 1893px #20c5e3, 949px 1697px #20c5e3, 1934px 374px #20c5e3,
    1561px 1930px #20c5e3, 75px 633px #20c5e3, 1255px 1759px #20c5e3,
    739px 615px #20c5e3, 454px 781px #20c5e3, 1475px 1200px #20c5e3,
    66px 1974px #20c5e3, 1367px 1189px #20c5e3, 556px 349px #20c5e3,
    1452px 1600px #20c5e3, 236px 569px #20c5e3, 1350px 613px #20c5e3,
    816px 225px #20c5e3, 92px 1641px #20c5e3, 477px 297px #20c5e3,
    1180px 460px #20c5e3, 1419px 770px #20c5e3, 196px 709px #20c5e3,
    1543px 469px #20c5e3, 1437px 870px #20c5e3, 1094px 1715px #20c5e3,
    1924px 23px #20c5e3, 431px 894px #20c5e3, 1292px 1931px #20c5e3,
    389px 577px #20c5e3, 1220px 470px #20c5e3, 997px 1562px #20c5e3,
    1781px 1702px #20c5e3, 334px 672px #20c5e3, 1646px 1549px #20c5e3,
    1869px 1116px #20c5e3, 237px 1756px #20c5e3, 1672px 293px #20c5e3,
    569px 61px #20c5e3, 551px 938px #20c5e3, 477px 1945px #20c5e3,
    775px 767px #20c5e3, 1571px 1622px #20c5e3, 913px 308px #20c5e3,
    1216px 967px #20c5e3, 1300px 1147px #20c5e3, 1854px 237px #20c5e3,
    310px 577px #20c5e3, 777px 1070px #20c5e3, 1713px 1580px #20c5e3,
    1548px 1571px #20c5e3, 944px 430px #20c5e3, 1595px 325px #20c5e3,
    1400px 112px #20c5e3, 646px 1237px #20c5e3, 214px 893px #20c5e3,
    1400px 1377px #20c5e3, 1246px 1452px #20c5e3, 1711px 876px #20c5e3,
    64px 549px #20c5e3, 713px 1259px #20c5e3, 1123px 312px #20c5e3,
    954px 646px #20c5e3, 1751px 661px #20c5e3, 1395px 553px #20c5e3,
    1445px 1677px #20c5e3, 258px 661px #20c5e3, 18px 1825px #20c5e3,
    533px 1882px #20c5e3, 582px 140px #20c5e3, 1566px 1484px #20c5e3,
    479px 1485px #20c5e3, 269px 740px #20c5e3, 1936px 1852px #20c5e3,
    258px 245px #20c5e3, 600px 814px #20c5e3, 1871px 1949px #20c5e3,
    1910px 1725px #20c5e3, 1545px 731px #20c5e3, 1137px 82px #20c5e3,
    1489px 1658px #20c5e3, 1396px 87px #20c5e3, 1182px 1145px #20c5e3,
    1464px 1556px #20c5e3, 631px 91px #20c5e3, 1352px 1099px #20c5e3,
    1881px 1367px #20c5e3, 631px 750px #20c5e3, 691px 1995px #20c5e3,
    759px 216px #20c5e3, 101px 378px #20c5e3, 97px 905px #20c5e3,
    1061px 1835px #20c5e3, 402px 1790px #20c5e3, 974px 991px #20c5e3,
    421px 1409px #20c5e3, 474px 1117px #20c5e3, 711px 292px #20c5e3,
    107px 1523px #20c5e3, 1160px 175px #20c5e3, 571px 1727px #20c5e3,
    103px 790px #20c5e3, 497px 121px #20c5e3, 278px 1482px #20c5e3,
    1607px 81px #20c5e3, 729px 246px #20c5e3, 1705px 1941px #20c5e3,
    446px 168px #20c5e3, 896px 239px #20c5e3, 523px 1862px #20c5e3,
    1044px 831px #20c5e3, 1400px 1540px #20c5e3, 180px 1150px #20c5e3,
    1916px 647px #20c5e3, 755px 1457px #20c5e3, 2000px 237px #20c5e3,
    1116px 1203px #20c5e3, 947px 368px #20c5e3;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 500px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 867px 404px #20c5e3, 464px 1313px #20c5e3, 246px 31px #20c5e3,
    730px 1576px #20c5e3, 1093px 145px #20c5e3, 1274px 248px #20c5e3,
    149px 496px #20c5e3, 579px 1730px #20c5e3, 590px 1228px #20c5e3,
    1103px 932px #20c5e3, 377px 179px #20c5e3, 1009px 865px #20c5e3,
    1472px 443px #20c5e3, 914px 1850px #20c5e3, 1330px 945px #20c5e3,
    1432px 1631px #20c5e3, 946px 1974px #20c5e3, 1542px 1131px #20c5e3,
    681px 1886px #20c5e3, 42px 901px #20c5e3, 520px 596px #20c5e3,
    1192px 661px #20c5e3, 1488px 84px #20c5e3, 1396px 1563px #20c5e3,
    187px 1134px #20c5e3, 960px 1613px #20c5e3, 1366px 551px #20c5e3,
    1963px 1053px #20c5e3, 987px 192px #20c5e3, 1396px 782px #20c5e3,
    1277px 1318px #20c5e3, 1264px 1047px #20c5e3, 289px 1193px #20c5e3,
    1594px 1880px #20c5e3, 934px 1713px #20c5e3, 1405px 394px #20c5e3,
    121px 666px #20c5e3, 1387px 101px #20c5e3, 760px 1727px #20c5e3,
    1582px 1523px #20c5e3, 585px 1129px #20c5e3, 213px 935px #20c5e3,
    561px 1377px #20c5e3, 1921px 1798px #20c5e3, 590px 1536px #20c5e3,
    1378px 1558px #20c5e3, 607px 469px #20c5e3, 767px 1342px #20c5e3,
    389px 141px #20c5e3, 1819px 215px #20c5e3, 540px 1124px #20c5e3,
    894px 368px #20c5e3, 1003px 516px #20c5e3, 1908px 1817px #20c5e3,
    1847px 1691px #20c5e3, 1163px 1609px #20c5e3, 1849px 5px #20c5e3,
    1984px 488px #20c5e3, 72px 1871px #20c5e3, 584px 1482px #20c5e3,
    811px 931px #20c5e3, 1545px 1341px #20c5e3, 1575px 1129px #20c5e3,
    973px 1066px #20c5e3, 641px 930px #20c5e3, 642px 360px #20c5e3,
    632px 1870px #20c5e3, 636px 265px #20c5e3, 1541px 230px #20c5e3,
    1557px 1292px #20c5e3, 1393px 1744px #20c5e3, 948px 726px #20c5e3,
    154px 1795px #20c5e3, 1865px 222px #20c5e3, 1333px 1942px #20c5e3,
    1466px 1777px #20c5e3, 1698px 550px #20c5e3, 13px 527px #20c5e3,
    1812px 1050px #20c5e3, 286px 1030px #20c5e3, 1136px 731px #20c5e3,
    43px 272px #20c5e3, 992px 1357px #20c5e3, 110px 221px #20c5e3,
    347px 1893px #20c5e3, 949px 1697px #20c5e3, 1934px 374px #20c5e3,
    1561px 1930px #20c5e3, 75px 633px #20c5e3, 1255px 1759px #20c5e3,
    739px 615px #20c5e3, 454px 781px #20c5e3, 1475px 1200px #20c5e3,
    66px 1974px #20c5e3, 1367px 1189px #20c5e3, 556px 349px #20c5e3,
    1452px 1600px #20c5e3, 236px 569px #20c5e3, 1350px 613px #20c5e3,
    816px 225px #20c5e3, 92px 1641px #20c5e3, 477px 297px #20c5e3,
    1180px 460px #20c5e3, 1419px 770px #20c5e3, 196px 709px #20c5e3,
    1543px 469px #20c5e3, 1437px 870px #20c5e3, 1094px 1715px #20c5e3,
    1924px 23px #20c5e3, 431px 894px #20c5e3, 1292px 1931px #20c5e3,
    389px 577px #20c5e3, 1220px 470px #20c5e3, 997px 1562px #20c5e3,
    1781px 1702px #20c5e3, 334px 672px #20c5e3, 1646px 1549px #20c5e3,
    1869px 1116px #20c5e3, 237px 1756px #20c5e3, 1672px 293px #20c5e3,
    569px 61px #20c5e3, 551px 938px #20c5e3, 477px 1945px #20c5e3,
    775px 767px #20c5e3, 1571px 1622px #20c5e3, 913px 308px #20c5e3,
    1216px 967px #20c5e3, 1300px 1147px #20c5e3, 1854px 237px #20c5e3,
    310px 577px #20c5e3, 777px 1070px #20c5e3, 1713px 1580px #20c5e3,
    1548px 1571px #20c5e3, 944px 430px #20c5e3, 1595px 325px #20c5e3,
    1400px 112px #20c5e3, 646px 1237px #20c5e3, 214px 893px #20c5e3,
    1400px 1377px #20c5e3, 1246px 1452px #20c5e3, 1711px 876px #20c5e3,
    64px 549px #20c5e3, 713px 1259px #20c5e3, 1123px 312px #20c5e3,
    954px 646px #20c5e3, 1751px 661px #20c5e3, 1395px 553px #20c5e3,
    1445px 1677px #20c5e3, 258px 661px #20c5e3, 18px 1825px #20c5e3,
    533px 1882px #20c5e3, 582px 140px #20c5e3, 1566px 1484px #20c5e3,
    479px 1485px #20c5e3, 269px 740px #20c5e3, 1936px 1852px #20c5e3,
    258px 245px #20c5e3, 600px 814px #20c5e3, 1871px 1949px #20c5e3,
    1910px 1725px #20c5e3, 1545px 731px #20c5e3, 1137px 82px #20c5e3,
    1489px 1658px #20c5e3, 1396px 87px #20c5e3, 1182px 1145px #20c5e3,
    1464px 1556px #20c5e3, 631px 91px #20c5e3, 1352px 1099px #20c5e3,
    1881px 1367px #20c5e3, 631px 750px #20c5e3, 691px 1995px #20c5e3,
    759px 216px #20c5e3, 101px 378px #20c5e3, 97px 905px #20c5e3,
    1061px 1835px #20c5e3, 402px 1790px #20c5e3, 974px 991px #20c5e3,
    421px 1409px #20c5e3, 474px 1117px #20c5e3, 711px 292px #20c5e3,
    107px 1523px #20c5e3, 1160px 175px #20c5e3, 571px 1727px #20c5e3,
    103px 790px #20c5e3, 497px 121px #20c5e3, 278px 1482px #20c5e3,
    1607px 81px #20c5e3, 729px 246px #20c5e3, 1705px 1941px #20c5e3,
    446px 168px #20c5e3, 896px 239px #20c5e3, 523px 1862px #20c5e3,
    1044px 831px #20c5e3, 1400px 1540px #20c5e3, 180px 1150px #20c5e3,
    1916px 647px #20c5e3, 755px 1457px #20c5e3, 2000px 237px #20c5e3,
    1116px 1203px #20c5e3, 947px 368px #20c5e3;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 282px 250px #20c5e3, 1283px 1388px #20c5e3, 120px 1851px #20c5e3,
    1097px 978px #20c5e3, 245px 1065px #20c5e3, 1691px 464px #20c5e3,
    1505px 1371px #20c5e3, 626px 383px #20c5e3, 484px 1826px #20c5e3,
    1325px 905px #20c5e3, 1077px 898px #20c5e3, 873px 238px #20c5e3,
    948px 1711px #20c5e3, 496px 1508px #20c5e3, 212px 3px #20c5e3,
    1755px 1480px #20c5e3, 113px 882px #20c5e3, 1280px 1544px #20c5e3,
    1716px 533px #20c5e3, 1745px 425px #20c5e3, 1960px 1469px #20c5e3,
    1282px 1933px #20c5e3, 204px 312px #20c5e3, 237px 182px #20c5e3,
    1152px 1441px #20c5e3, 1794px 437px #20c5e3, 1707px 1409px #20c5e3,
    1351px 1677px #20c5e3, 472px 286px #20c5e3, 1922px 316px #20c5e3,
    157px 172px #20c5e3, 517px 1008px #20c5e3, 659px 442px #20c5e3,
    827px 290px #20c5e3, 995px 503px #20c5e3, 1130px 623px #20c5e3,
    798px 833px #20c5e3, 345px 268px #20c5e3, 178px 1857px #20c5e3,
    520px 1609px #20c5e3, 285px 1457px #20c5e3, 994px 745px #20c5e3,
    1012px 1705px #20c5e3, 780px 125px #20c5e3, 800px 1358px #20c5e3,
    1999px 1625px #20c5e3, 1731px 1392px #20c5e3, 1562px 1160px #20c5e3,
    1600px 661px #20c5e3, 150px 769px #20c5e3, 859px 1788px #20c5e3,
    1321px 1259px #20c5e3, 1362px 375px #20c5e3, 208px 42px #20c5e3,
    1032px 1588px #20c5e3, 1317px 669px #20c5e3, 549px 849px #20c5e3,
    1102px 489px #20c5e3, 1263px 1171px #20c5e3, 17px 1322px #20c5e3,
    1984px 408px #20c5e3, 1715px 923px #20c5e3, 55px 455px #20c5e3,
    545px 1942px #20c5e3, 690px 811px #20c5e3, 345px 1836px #20c5e3,
    1963px 981px #20c5e3, 97px 783px #20c5e3, 211px 278px #20c5e3,
    228px 1887px #20c5e3, 1217px 1001px #20c5e3, 1003px 880px #20c5e3,
    1552px 1852px #20c5e3, 810px 1570px #20c5e3, 891px 1153px #20c5e3,
    486px 855px #20c5e3, 1112px 341px #20c5e3, 1221px 1394px #20c5e3,
    271px 511px #20c5e3, 1980px 236px #20c5e3, 1643px 208px #20c5e3,
    694px 1888px #20c5e3, 1736px 1591px #20c5e3, 647px 177px #20c5e3,
    1679px 1895px #20c5e3, 891px 1484px #20c5e3, 1933px 1630px #20c5e3,
    1666px 231px #20c5e3, 97px 1645px #20c5e3, 453px 1394px #20c5e3,
    950px 1414px #20c5e3, 1566px 1676px #20c5e3, 284px 310px #20c5e3,
    635px 1366px #20c5e3, 789px 1951px #20c5e3, 1440px 1038px #20c5e3,
    1680px 1388px #20c5e3, 319px 1459px #20c5e3, 258px 393px #20c5e3,
    855px 120px #20c5e3;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 500px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 282px 250px #20c5e3, 1283px 1388px #20c5e3, 120px 1851px #20c5e3,
    1097px 978px #20c5e3, 245px 1065px #20c5e3, 1691px 464px #20c5e3,
    1505px 1371px #20c5e3, 626px 383px #20c5e3, 484px 1826px #20c5e3,
    1325px 905px #20c5e3, 1077px 898px #20c5e3, 873px 238px #20c5e3,
    948px 1711px #20c5e3, 496px 1508px #20c5e3, 212px 3px #20c5e3,
    1755px 1480px #20c5e3, 113px 882px #20c5e3, 1280px 1544px #20c5e3,
    1716px 533px #20c5e3, 1745px 425px #20c5e3, 1960px 1469px #20c5e3,
    1282px 1933px #20c5e3, 204px 312px #20c5e3, 237px 182px #20c5e3,
    1152px 1441px #20c5e3, 1794px 437px #20c5e3, 1707px 1409px #20c5e3,
    1351px 1677px #20c5e3, 472px 286px #20c5e3, 1922px 316px #20c5e3,
    157px 172px #20c5e3, 517px 1008px #20c5e3, 659px 442px #20c5e3,
    827px 290px #20c5e3, 995px 503px #20c5e3, 1130px 623px #20c5e3,
    798px 833px #20c5e3, 345px 268px #20c5e3, 178px 1857px #20c5e3,
    520px 1609px #20c5e3, 285px 1457px #20c5e3, 994px 745px #20c5e3,
    1012px 1705px #20c5e3, 780px 125px #20c5e3, 800px 1358px #20c5e3,
    1999px 1625px #20c5e3, 1731px 1392px #20c5e3, 1562px 1160px #20c5e3,
    1600px 661px #20c5e3, 150px 769px #20c5e3, 859px 1788px #20c5e3,
    1321px 1259px #20c5e3, 1362px 375px #20c5e3, 208px 42px #20c5e3,
    1032px 1588px #20c5e3, 1317px 669px #20c5e3, 549px 849px #20c5e3,
    1102px 489px #20c5e3, 1263px 1171px #20c5e3, 17px 1322px #20c5e3,
    1984px 408px #20c5e3, 1715px 923px #20c5e3, 55px 455px #20c5e3,
    545px 1942px #20c5e3, 690px 811px #20c5e3, 345px 1836px #20c5e3,
    1963px 981px #20c5e3, 97px 783px #20c5e3, 211px 278px #20c5e3,
    228px 1887px #20c5e3, 1217px 1001px #20c5e3, 1003px 880px #20c5e3,
    1552px 1852px #20c5e3, 810px 1570px #20c5e3, 891px 1153px #20c5e3,
    486px 855px #20c5e3, 1112px 341px #20c5e3, 1221px 1394px #20c5e3,
    271px 511px #20c5e3, 1980px 236px #20c5e3, 1643px 208px #20c5e3,
    694px 1888px #20c5e3, 1736px 1591px #20c5e3, 647px 177px #20c5e3,
    1679px 1895px #20c5e3, 891px 1484px #20c5e3, 1933px 1630px #20c5e3,
    1666px 231px #20c5e3, 97px 1645px #20c5e3, 453px 1394px #20c5e3,
    950px 1414px #20c5e3, 1566px 1676px #20c5e3, 284px 310px #20c5e3,
    635px 1366px #20c5e3, 789px 1951px #20c5e3, 1440px 1038px #20c5e3,
    1680px 1388px #20c5e3, 319px 1459px #20c5e3, 258px 393px #20c5e3,
    855px 120px #20c5e3;
}
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #20c5e3;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2000px);
  }
}
body {
  background-color: black;
}
